<app-navbar></app-navbar>

<div class="container">
    <div class="row ">
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <table class="table table-striped text-center mt-3">
                <thead>
                    <tr>
                        <th>Employee Code</th>
                        <th>Name</th>
                        <th>Designation</th>
                        <th>Salary</th>
                        <th>Phone No</th>
                        <th>Email</th>
                        <th>Company Website</th>
                        <th>Year of Experience</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of data">
                        <td>{{i.employeeCode}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.designation}}</td>
                        <td>{{i.salary}}</td>
                        <td>{{i.phone}}</td>
                        <td>{{i.mail}}</td>
                        <td>{{i.company}}</td>
                        <td>{{i.year}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> 