<div class="container">
    <div class="row ">
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
            <table class="table table-success table-striped text-center">
                <tr>
                    <th>Employee Code</th>
                    <th>Name</th>
                    <th>Designation</th>
                    <th>Salary</th>
                    <th>Phone No</th>
                    <th>Email</th>
                    <th>Company Website</th>
                    <th>Year of Experience</th>
                </tr>
                <tr>
                    <td>1002</td>
                    <td>Joy</td>
                    <td>Software Engineer</td>
                    <td>32000</td>
                    <td>98745989810</td>
                    <td>aleyep@mail.com</td>
                    <td>www.company.com</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>1003</td>
                    <td>Tanya</td>
                    <td>Software Engineer</td>
                    <td>320000</td>
                    <td>9874563210</td>
                    <td>aleyep@mail.com</td>
                    <td>www.company.com</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>1004</td>
                    <td>Ram</td>
                    <td>Software Developer</td>
                    <td>32000</td>
                    <td>7894563210</td>
                    <td>aleyep@mail.com</td>
                    <td>www.company.com</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>1005</td>
                    <td>Sam</td>
                    <td>Software Developer</td>
                    <td>90000</td>
                    <td>7894563210</td>
                    <td>aleyep@mail.com</td>
                    <td>www.company.com</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>1006</td>
                    <td>Ashiq</td>
                    <td>FrontEnd Developer</td>
                    <td>120000</td>
                    <td>7894563210</td>
                    <td>aleyep@mail.com</td>
                    <td>www.company.com</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>1007</td>
                    <td>Maya</td>
                    <td>FrontEnd Developer</td>
                    <td>120000</td>
                    <td>7894563210</td>
                    <td>john@mail.com</td>
                    <td>www.company.com</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>1008</td>
                    <td>Ajith</td>
                    <td>Backend Developer</td>
                    <td>150000</td>
                    <td>9895163210</td>
                    <td>john@mail.com</td>
                    <td>www.company.com</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>1009</td>
                    <td>Roy</td>
                    <td>Backend Developer</td>
                    <td>250000</td>
                    <td>98951989810</td>
                    <td>john@mail.com</td>
                    <td>www.company.com</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>1010</td>
                    <td>Alex</td>
                    <td>Software Engineer</td>
                    <td>350000</td>
                    <td>98951989810</td>
                    <td>aleyep@mail.com</td>
                    <td>www.company.com</td>
                    <td>15</td>
                </tr>
            </table>
        </div>
    </div>
</div>